version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ipkd-app
    restart: always
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - web

  nginx:
    image: nginx:alpine
    container_name: ipkd-nginx
    restart: always
    volumes:
      - .:/var/www
      - ./docker/nginx:/etc/nginx/conf.d
    networks:
      - web
    depends_on:
      - app
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ipkd.rule=Host(`ipkd.merantikab.go.id`)"
      - "traefik.http.services.ipkd.loadbalancer.server.port=80"

networks:
  web:
    external: true
