version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ipkd-app
    restart: always
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    expose:
      - "9000"
    networks:
      - web

  nginx:
    image: nginx:alpine
    container_name: ipkd-nginx
    restart: always
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8081:80"
    networks:
      - web
    depends_on:
      - app
networks:
  web:
    external: true
